[user]
	name = Max Kramer
	email = max@kramer.so
	signingkey = 73EB696E33C4384C
[github]
	user = maxkramer
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[alias]
	co = checkout
	po = push -u origin HEAD
	cam = commit -a -m
	c = commit
	s = status -s -u
	l = log --oneline --decorate
	listconf = config --global --list
	lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches
[diff]
[merge]
[push]
	default = current
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = /Applications/DiffMerge.app/Contents/Resources/diffmerge.sh  --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = /usr/local/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[http]
	postBuffer = 2M
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[pull]
	ff = only
[init]
	templateDir = /Users/max/.git-template
